:root {
  --primary-color: #5e5757;
  --font-color: #fff8bd;
}

body {
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
  color: #ffecbd;
}

p {
  margin: 30px;
  text-align: center;
  color: var(--font-color);
}
